openapi: 3.0.4
info:
  title: Duel Channel API
  description: >
    Access API for the Duel Channel Ring Racers server.
  contact:
    name: frostu8
    email: theguy@frostu8.rs
  license:
    name: CC0-1.0
    url: https://creativecommons.org/publicdomain/zero/1.0/
  version: 0.1.0

servers:
  - url: https://duelchannel.ringrace.rs/api/v1
    description: The main API server.

tags:
  - name: match
    description: Match-related operations.
  - name: player
    description: Endpoints that operate on players.
  - name: server
    description: Endpoints for servers.

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
    cookie:
      type: apiKey
      in: cookie
      name: id
  schemas:
    CreateUser:
      type: object
      required:
        - display_name
        - profiles
      properties:
        display_name:
          type: string
          description: The display name of the player.
        profiles:
          type: array
          description: The profiles of the player.
          items:
            type: object
            required: [public_key]
            properties:
              public_key:
                type: string
                description: The player's 64-length "RRID."
                pattern: '^[\dA-Fa-f]{64}$'
    CurrentUser:
      allOf:
        - $ref: "#/components/schemas/User"
    Profile:
      type: object
      required:
        - public_key
      properties:
        public_key:
          type: string
          description: The player's 64-length "RRID."
          pattern: '^[\dA-Fa-f]{64}$'
    User:
      type: object
      required:
        - id
        - display_name
        - avatar_url
        - flags
      properties:
        id:
          type: string
          description: The player's short ID.
          pattern: '^[\dA-Z]{6}$'
        display_name:
          type: string
          description: The display name of the player.
        avatar_url:
          type: string
          nullable: true
          description: The URI of the player's avatar.
        mmr:
          type: integer
          description: The player's current MMR.
        flags:
          $ref: "#/components/schemas/UserFlags"
        profiles:
          type: array
          description: >
            The user's profiles.

            While a user can be found through their RRID, their profiles are
            not publicly visible.
          items:
            $ref: "#/components/schemas/Profile"
    UserFlags:
      type: integer
      description: >
        The user's flags.

        | Bit Pattern | Description |
        | --- | --- |
        | `1` | The user is an administrator. |
        | `1 << 1` | Beta tester given to those that played during the Duel
        Channel beta period. |
        | `1 << 2` | The player has broken an MMR threshold at a certain
        point. |
    Error:
      type: object
      description: >
        An API error.
      required:
        - message
      properties:
        message:
          type: string
          description: A description of the error.
  examples:
    userExample:
      value:
        id: GJBIJK
        display_name: Dr. Robotnik
        avatar_url: null
        mmr: 2023
        flags: 4

paths:
  /players:
    get:
      tags:
        - player
      summary: List Players
      description: >
        Fetches a list of players.

        By default, this is sorted by ordinal
      security: []
      operationId: list_players
      parameters:
        - name: count
          in: query
          description: How many results to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            example: 50
        - name: public_key
          in: query
          description: A public key to search by
          schema:
            type: string
            example: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            pattern: '^[\dA-Fa-f]{64}$'
      responses:
        "200":
          description: The users requested.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
              examples:
                userExample:
                  $ref: "#/components/examples/userExample"
        "400":
          description: >
            `count` is not in range, or the `public_key` provided was badly
            formed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      tags:
        - player
      summary: Create Player
      description: >
        Creates a new player with given profiles.
      security:
        - apiKey: []
      operationId: create_player
      requestBody:
        description: The player's details.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUser"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CreateUser"
      responses:
        "200":
          description: The user was successfully created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              examples:
                userExample:
                  $ref: "#/components/examples/userExample"
        "401":
          description: Client is unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /players/~me:
    get:
      tags:
        - player
      summary: Get Current Player
      description: Fetches the currently authenticated player.
      security:
        - cookie: []
      operationId: get_player_self
      responses:
        "200":
          description: The currently authenticated user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
              examples:
                userExample:
                  $ref: "#/components/examples/userExample"
        "401":
          description: User is unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /players/{player_id}:
    get:
      tags:
        - player
      summary: Get Player
      description: Fetches the currently authenticated player.
      security: []
      operationId: get_player
      parameters:
        - name: player_id
          in: path
          description: Player short ID
          required: true
          schema:
            type: string
            example: GIGIJO
            pattern: '^[\dA-Z]{6}$'
      responses:
        "200":
          description: The user corresponding to the given short id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              examples:
                userExample:
                  $ref: "#/components/examples/userExample"
        "404":
          description: The user couldn't be found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
